
# php_flag display_errors On

ErrorDocument 404 /404.php
ErrorDocument 403 /403.php

<IfModule mod_charset.c>
	CharsetDisable on
</IfModule>

AddDefaultCharset utf-8

AddType image/x-icon .ico

Options +Includes +FollowSymLinks -Indexes

AddHandler server-parsed .htm .html .shtml

<IfModule mod_dir.c>
	DirectoryIndex index.htm index.html _index.html index.shtml index.php
</IfModule>

# PHP 5, Apache 1 and 2.
<IfModule mod_php5.c>
	php_value date.timezone "Europe/Moscow"
</IfModule>

<IfModule mod_headers.c>
	Header append Cache-Control "no-store, no-cache, must-revalidate"
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresByType image/jpeg "access plus 3 day"
	ExpiresByType image/gif "access plus 3 day"
	ExpiresByType text/html "access plus 10 seconds"
	<FilesMatch \.php$>
		# Do not allow PHP scripts to be cached 
		ExpiresActive Off
	</FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine on
	
	
	RewriteRule ^index.html$ ./_engine/index.php [QSA,L]
	RewriteRule ^index.htm$ ./_engine/index.php [QSA,L]
	# RewriteRule ^index.html$ ./_engine/index.php [R=301,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ ./_engine/index.php [NS,NC,L]

	# RewriteCond %{REQUEST_FILENAME} -f
	# RewriteCond %{REQUEST_FILENAME} !-d
	# RewriteRule ^googlecode\.html$ googlecode\.html [NS,NC,L]

</IfModule>