ul.thumbnails.unstyled li{
	list-style: decimal inside none;
	list-style-type: none;
	padding: 5px 5px 5px 5px;
	display: inline-block;
	width: 170px;
}
div.thumbnail {
	padding: 5px;
}
div.thumbnail img {
	margin: -3px 5px 10px -3px;
	width: 154px;
	display: inline-block;
}