AddDefaultCharset utf-8

Options +Includes +FollowSymLinks -Indexes

<IfModule mod_dir.c>
	DirectoryIndex index.html _index.html index.shtml index.php
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresByType image/jpeg "access plus 3 day"
	ExpiresByType image/gif "access plus 3 day"
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine off
</IfModule>