body {
	margin: 10px 5px 0px 5px;
	min-width: 950px;
	overflow-y: scroll;
}
.white {
	background: white;
}
div.logo {
	min-width: 800px;
}
div.logo {
	text-align: center;
}

ul.left_menu li a {
	display: inline-block;
	padding: 3px 14px 2px 15px;
	margin: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}
ul.left_menu li a.active {
	background: #ddd;
}